.card-list {
  /* width: 85vw; */
  width: 90%;
  margin: 0 auto;
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pagination {
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  /* display: inline-block; */
  width: 50px;
  border: 3px solid #fcfcfc;
  display: inline-block;
  justify-content: center;
  font-size: 25px;
  padding-bottom: 10px;
}

ul.pagination li a {
  text-decoration: none;
  color: #faf5f5;
  font-size: 20px;
  font-weight: 500;
}

ul.pagination li.active a {
  color: white;
}
ul.pagination li.active {
  background-color: #82a6ca;
}

ul.pagination li a:hover,
ul.pagination li a.active {
  color: blue;
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
  